section{
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "sm ss"
  "sm ss";
}

section > main{
  display: grid;
  grid-area: sm;
  grid-template-columns: 1fr 550px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "hd fg"
  "tx fg";
  padding: 15px;
  height: auto;
  color: var(--independence);
  background: var(--light-periwinkle);
  background: linear-gradient(360deg, rgba(206,207,222,0.25) 0%, rgba(0,0,0,0) 100%);
}

section > aside{
  display: flex;
  grid-area: ss;
  justify-content: center;
  align-items: center;
}

.section-space{
  padding-left: calc(100% - 10px);
  height: 200px;
}

.section-space-end{
  height: 1000px;
}

/*Section Contents*/

section h1{
  grid-area: hd;
  font-size: 2em;
  border-bottom: 6px dashed var(--independence);
  padding: 5px 0px 5px 0px;
  width: 50%
}

.section-text{
  font-size: large;
  grid-area: tx;
}

.section-figure{
  grid-area: fg;
  border: 10px solid var(--egg-shell);
  border-radius: 5px;
  background-color: var(--egg-shell);
  padding: 1%;
  width: 80%;
  max-width:500px;
  max-height: 550px;
  margin: 5%;
}

.section-figure img{
  width: 100%;
  height: 90%;
}

.section-figure figcaption{
  padding-top: 5px;
}

/* Medium Screens */
@media(max-width: 1250px){
  section > main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto ;
    grid-template-areas:
    "hd"
    "tx"
    "fg";
  }

}

/*Small Screens*/
@media(max-width: 500px){
  section{
    font-size: small;
    column-gap: 25px;
  }

  .section-text{
    font-size: small;
    grid-area: tx;
  }

  .section-figure{
    margin: 0;
    border: 1px solid var(--egg-shell);
    padding: 5px;
  }

  .section-figure figcaption{
    padding-top: 1px;
  }

  .section-space{
    padding-left: calc(100% - 10px);
    height: 100px;
  }

  .section-space-end{
    height: 500px;
  }
}